@import "tailwindcss";

:root {
  --main-bg: #E4EDF6;
  --main-text: #7B8CAA;
  --alt-text: #B3B9C5;
  --colored-text: #0092b8;
  --shadow-light: #edf6ff;
  --shadow-dark: #d2dbe2;
  --hover-color: #0092b8;
  --bars-color: #C2D1E3;
  --navbar-active-route: #00b8db;
  --greens: #00bba7;
  --reds: #ff637e;
  --blues: #51a2ff;
  --box: #77c292;
  --device: #ae91c9;
  --device-border-color: #b364ca;
  --num-color: #2828ae47;
}

.dark {
  --main-bg: #24272C;
  --main-text: #c1c1c1;
  --alt-text: #A0A5A9;
  --colored-text: #00bba7;
  --shadow-light: #2B2E33;
  --shadow-dark: #1D2024;
  --hover-color: #00786f;
  --bars-color: #444a52;
  --navbar-active-route: #00bba7;
  --greens: #009689;
  --reds: #ff2056;
  --blues: #2b7fff;
  --box: #1f5030;
  --device: #5d4a70;
  --device-border-color: #b364ca;
  --num-color: #4d4d8da3;
}

body {
  font-family: var(--main-font);
  background-color: var(--main-bg);
  color: var(--main-text);
  font-size: 12px;
}

.font_en {
  font-family: var(--main-font);
}

.container-c {
  max-width: 2000px;
}

.neu__norm {
  box-shadow: 2px 2px 7px var(--shadow-dark),
    -4px -4px 5px var(--shadow-light);
}

.neu__inner {
  box-shadow: inset 2px 2px 7px var(--shadow-dark),
    inset -4px -4px 5px var(--shadow-light);
}

.neu__norm__mobile {
  box-shadow: none;
}

.neu__norm__mobile {
  @media (width >=64rem) {
    box-shadow: 2px 2px 7px var(--shadow-dark),
      -4px -4px 5px var(--shadow-light);
  }
}

.img_shadow {
  box-shadow: inset 10px 10px 20px #00000071,
    inset -10px -10px 20px #00000071;
}

input {
  outline: none;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

.hoverEffect {
  transition: all 500ms ease-in-out;
}

.hoverEffect:hover {
  background-color: #009689;
  color: whitesmoke;
  padding: 20px 40px;
}

.drop::after {
  content: '';
  width: 1px;
  height: 999px;
  position: absolute;
  background: var(--hover-color);
  top: -99px;
  inset-inline-start: -10px;
}

.drop::before {
  content: '';
  width: 10px;
  height: 1px;
  position: absolute;
  background: var(--hover-color);
  top: 50%;
  inset-inline-start: -9px;
}

.simplebar-scrollbar:before {
  background: rgb(122, 122, 122);
  border-radius: 10px;
}

.simplebar-track.simplebar-vertical {
  width: 8px;
}

.react-resizable-handle.react-resizable-handle-se {
  opacity: 0;
}

.smoothScroll {
  scroll-behavior: smooth !important;
}

/* HTML: <div class="spinnerLoader"></div> */
.spinnerLoader {
  aspect-ratio: 1;
  border-radius: 50%;
  border:solid var(--main-text);
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
  }
}

@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg)
  }

  49.99% {
    transform: scaleY(1) rotate(135deg)
  }

  50% {
    transform: scaleY(-1) rotate(0deg)
  }

  100% {
    transform: scaleY(-1) rotate(-135deg)
  }
}