@import "tailwindcss";

:root {
  --main-bg: #E4EDF6;
  --main-text: #7B8CAA;
  --alt-text: #B3B9C5;
  --shadow-light: #edf6ff;
  --shadow-dark: #d2dbe2;
  --hover-color: #0092b8;
  --navbar-active-route: #00b8db;
  --greens: #00bba7;
  --reds: #ff637e;
  --blues: #51a2ff;
  --box: #77c292;
  --device: #ae91c9;
  --device-border-color: #b364ca;
  --num-color: #2828ae47;
}

.dark {
  --main-bg: #22343C;
  --main-text: #dedede;
  --alt-text: #A0A5A9;
  --shadow-light: #263b43;
  --shadow-dark: #1c2a31;
  --hover-color: #00786f;
  --navbar-active-route: #00bba7;
  --greens: #009689;
  --reds: #ff2056;
  --blues: #2b7fff;
  --box: #1f5030;
  --device: #5d4a70;
  --device-border-color: #b364ca;
  --num-color: #4d4d8da3;
}

body {
  /* font-family: var(--main-font); */
  background-color: var(--main-bg);
  user-select: none;
  color: var(--main-text);
  font-size: 12px;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.neu__norm {
  /* background: #E4EDF6; */
  box-shadow: 2px 2px 7px var(--shadow-dark),
    -4px -4px 5px var(--shadow-light);
}

.neu__inner {
  /* background: #E4EDF6; */
  box-shadow: inset 2px 2px 7px var(--shadow-dark),
    inset -4px -4px 5px var(--shadow-light);
}

input {
  outline: none;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

.hoverEffect {
  transition: all 500ms ease-in-out;
}

.hoverEffect:hover {
  background-color: #009689;
  color: whitesmoke;
  padding: 20px 40px;
}

.drop::after {
  content: '';
  width: 1px;
  height: 999px;
  position: absolute;
  background: var(--hover-color);
  top: -99px;
  inset-inline-start: -10px;
}

.drop::before {
  content: '';
  width: 10px;
  height: 1px;
  position: absolute;
  background: var(--hover-color);
  top: 50%;
  inset-inline-start: -9px;
}

.simplebar-scrollbar:before {
  background: rgb(122, 122, 122);
  border-radius: 10px;
}

.simplebar-track.simplebar-vertical {
  width: 8px;
}

.react-resizable-handle.react-resizable-handle-se {
  opacity: 0;
}

.apexcharts-tooltip {
  background: var(--main-bg) !important;
  color: var(--main-text);
}

.rdp-chevron {
  fill: var(--hover-color);
}

.rdp-selected .rdp-day_button {
  border: 3px solid var(--hover-color);
}

.rdp-today:not(.rdp-outside) {
  color: var(--hover-color);
  font-weight: bolder;
  background-color: var(--main-bg);
}

.rdp-range_end .rdp-day_button {
  background-color: var(--hover-color);
}

.rdp-range_start .rdp-day_button {
  background-color: var(--hover-color);
}

.rdp-range_middle {
  background-color: var(--main-bg);
}

.rdp-range_start {
  background-color: var(--main-bg) !important;
}

.rdp-range_end {
  background-color: var(--main-bg) !important;
}

.rdp-root {
  --rdp-accent-background-color:'transparent';
}